<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="31" android:compileSdkVersionCodename="12" package="com.sube.cargasube" platformBuildVersionCode="31" platformBuildVersionName="12">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-feature android:name="android.hardware.nfc" android:required="true"/>
    <uses-feature android:name="com.nxp.mifare" android:required="true"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <permission android:name="com.sube.cargasube.permission.PUSHIO_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.sube.cargasube.permission.PUSHIO_MESSAGE"/>
    <uses-permission android:name="com.sube.cargasube.permission.RSYS_SHOW_IAM"/>
    <permission android:name="com.sube.cargasube.permission.RSYS_SHOW_IAM" android:protectionLevel="signature"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:name="com.sube.cargasube.CargaSubeApp" android:supportsRtl="true" android:theme="@style/AppTheme">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:exported="true" android:launchMode="singleInstance" android:name="com.sube.cargasube.gui.splash.view.SplashActivity" android:screenOrientation="portrait" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.sube.cargasube.NOTIFICATIONPRESSED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity-alias android:exported="false" android:name="com.sube.cargasube.SplashActivity" android:targetActivity="com.sube.cargasube.gui.splash.view.SplashActivity">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>
        <activity android:launchMode="singleInstance" android:name="com.sube.cargasube.gui.tutorial.TutorialFragmentActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleInstance" android:name="com.sube.cargasube.gui.login.pre_form.PreFormLoginActivity" android:screenOrientation="portrait" android:theme="@style/AppThemeLight"/>
        <activity android:name="com.sube.cargasube.gui.menu.uses_extended.LastUsesExtendedActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.sube.cargasube.gui.menu.about.AboutActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.sube.cargasube.gui.menu.settings.AutoOpenningControlActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.sube.cargasube.gui.main.MainMenuActivity" android:screenOrientation="portrait"/>
        <activity android:exported="true" android:launchMode="singleTask" android:name="com.sube.cargasube.gui.commands.recharges.RechargesActivity" android:screenOrientation="portrait">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="cargasubebeta.page.link" android:pathPrefix="/acreditarcargas" android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity android:name="com.sube.cargasube.gui.commands.balance.BalanceCheckActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.sube.cargasube.gui.commands.balance.view.BalanceCheckActivityMvvm" android:screenOrientation="portrait"/>
        <activity android:name="com.sube.cargasube.gui.charge_sube.view.RechargeSubeActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.sube.cargasube.gui.commands.uses.LastUsesActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleInstance" android:name="com.sube.cargasube.gui.login.form.FormLoginActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.sube.cargasube.gui.common.view.EmbeddedBrowserActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:name="com.facebook.FacebookActivity" android:theme="@style/com_facebook_activity_theme"/>
        <activity android:name="com.facebook.CustomTabMainActivity"/>
        <activity android:name="com.facebook.CustomTabActivity"/>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.dynamiclinks.internal.FirebaseDynamicLinkRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <provider android:authorities="com.sube.cargasube.MarketingInitProvider" android:exported="false" android:name="com.facebook.marketing.internal.MarketingInitProvider"/>
        <provider android:authorities="com.sube.cargasube.FacebookInitProvider" android:exported="false" android:name="com.facebook.internal.FacebookInitProvider"/>
        <receiver android:exported="false" android:name="com.facebook.CurrentAccessTokenExpirationBroadcastReceiver">
            <intent-filter>
                <action android:name="com.facebook.sdk.ACTION_CURRENT_ACCESS_TOKEN_CHANGED"/>
            </intent-filter>
        </receiver>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <provider android:authorities="com.sube.cargasube.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <provider android:authorities="com.sube.cargasube.lifecycle-process" android:exported="false" android:multiprocess="true" android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer"/>
        <activity android:enabled="false" android:exported="false" android:launchMode="singleInstance" android:name="com.google.android.play.core.missingsplits.PlayCoreMissingSplitsActivity" android:process=":playcore_missing_splits_activity" android:stateNotNeeded="true"/>
        <meta-data android:name="com.android.dynamic.apk.fused.modules" android:value="base"/>
        <meta-data android:name="com.android.stamp.source" android:value="https://play.google.com/store"/>
        <meta-data android:name="com.android.stamp.type" android:value="STAMP_TYPE_STANDALONE_APK"/>
        <meta-data android:name="com.android.vending.splits" android:resource="@xml/splits0"/>
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="6"/>
    </application>
</manifest>